{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": true,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".ls",
        ".html",
        ".htm",
        ".php",
        ".css",
        ".jpg",
        ".png"
      ],
      "ignore": {
        "patterns": [
          "node_modules",
          ".*",
          "bower_components",
          "prepros.config",
          "Prepros Export",
          "prepros-6.config",
          "prepros.cfg",
          "wp-admin",
          "wp-includes"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          "config.rb",
          "prepros.config",
          "prepros-6.config",
          "node_modules",
          "Prepros Export",
          ".git",
          ".idea",
          ".sass-cache",
          ".hg",
          ".svn",
          ".cache",
          ".DS_Store",
          "*.sass",
          "*.scss",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.ls",
          "*.kit",
          "*.ts",
          "/_app",
          "README.md",
          ".gitignore",
          "/_app/*"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "/roleva-yurina.mastervision.su/human-design-3",
      "timeout": 20000,
      "autoUpload": false,
      "connectionType": "ftp",
      "history": [
        {
          "file": "css/styles.min.css",
          "mtimeMs": 1578742778983.8762,
          "ctimeMs": 1578742778983.8762,
          "date": "2020-01-11T11:42:00.619Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1575383798687.9875,
          "ctimeMs": 1575383817218.2964,
          "date": "2020-01-10T17:14:11.437Z"
        },
        {
          "file": "favicon.png",
          "mtimeMs": 1575383829377.9153,
          "ctimeMs": 1575383829377.9153,
          "date": "2020-01-10T17:14:11.805Z"
        },
        {
          "file": "fonts/georgia.eot",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742328.5205,
          "date": "2020-01-10T17:14:14.537Z"
        },
        {
          "file": "fonts/georgia.svg",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742224.343,
          "date": "2020-01-10T17:14:15.430Z"
        },
        {
          "file": "fonts/georgia.ttf",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742208.334,
          "date": "2020-01-10T17:14:16.016Z"
        },
        {
          "file": "fonts/georgia.woff",
          "mtimeMs": 1565572696000,
          "ctimeMs": 1565590742246.36,
          "date": "2020-01-10T17:14:16.707Z"
        },
        {
          "file": "fonts/georgia.woff2",
          "mtimeMs": 1565572698000,
          "ctimeMs": 1565590742356.5388,
          "date": "2020-01-10T17:14:17.260Z"
        },
        {
          "file": "fonts/georgiaBold.eot",
          "mtimeMs": 1565572712000,
          "ctimeMs": 1565590732122.5698,
          "date": "2020-01-10T17:14:18.024Z"
        },
        {
          "file": "fonts/georgiaBold.svg",
          "mtimeMs": 1565572712000,
          "ctimeMs": 1565590732066.5332,
          "date": "2020-01-10T17:14:18.872Z"
        },
        {
          "file": "fonts/georgiaBold.ttf",
          "mtimeMs": 1565572712000,
          "ctimeMs": 1565590732055.5244,
          "date": "2020-01-10T17:14:19.588Z"
        },
        {
          "file": "fonts/georgiaBold.woff",
          "mtimeMs": 1565572712000,
          "ctimeMs": 1565590732113.5642,
          "date": "2020-01-10T17:14:20.185Z"
        },
        {
          "file": "fonts/georgiaBold.woff2",
          "mtimeMs": 1565572712000,
          "ctimeMs": 1565590732129.5745,
          "date": "2020-01-10T17:14:20.702Z"
        },
        {
          "file": "fonts/georgiaItalic.eot",
          "mtimeMs": 1565602474000,
          "ctimeMs": 1565620489260.306,
          "date": "2020-01-10T17:14:21.274Z"
        },
        {
          "file": "fonts/georgiaItalic.svg",
          "mtimeMs": 1565602474000,
          "ctimeMs": 1565620489198.264,
          "date": "2020-01-10T17:14:22.042Z"
        },
        {
          "file": "fonts/georgiaItalic.ttf",
          "mtimeMs": 1565602474000,
          "ctimeMs": 1565620489182.256,
          "date": "2020-01-10T17:14:22.713Z"
        },
        {
          "file": "fonts/georgiaItalic.woff",
          "mtimeMs": 1565602474000,
          "ctimeMs": 1565620489251.3,
          "date": "2020-01-10T17:14:23.167Z"
        },
        {
          "file": "fonts/georgiaItalic.woff2",
          "mtimeMs": 1565602474000,
          "ctimeMs": 1565620489269.3113,
          "date": "2020-01-10T17:14:23.555Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1578302606249.1375,
          "ctimeMs": 1578302606249.1375,
          "date": "2020-01-10T17:14:27.017Z"
        },
        {
          "file": "index.html",
          "mtimeMs": 1578577407191.5723,
          "ctimeMs": 1578577407191.5723,
          "date": "2020-01-10T17:14:12.187Z"
        },
        {
          "file": "js/scripts.min.js",
          "mtimeMs": 1578577729804.3142,
          "ctimeMs": 1578577729804.3142,
          "date": "2020-01-10T17:14:45.839Z"
        },
        {
          "file": "img/backs/authors-bg-1.png",
          "mtimeMs": 1578676489533.424,
          "ctimeMs": 1578676489534.4248,
          "date": "2020-01-11T09:12:34.605Z"
        },
        {
          "file": "img/backs/authors-bg-2.png",
          "mtimeMs": 1578135357633.4272,
          "ctimeMs": 1578135562228.3174,
          "date": "2020-01-10T17:14:27.886Z"
        },
        {
          "file": "img/backs/gt-bg-1.png",
          "mtimeMs": 1578135061788.0823,
          "ctimeMs": 1578135587336.5952,
          "date": "2020-01-10T17:14:29.394Z"
        },
        {
          "file": "img/backs/gt-bg-2.png",
          "mtimeMs": 1578135603274.7146,
          "ctimeMs": 1578135617681.3054,
          "date": "2020-01-10T17:14:29.701Z"
        },
        {
          "file": "img/backs/mail-bg.jpg",
          "mtimeMs": 1578568381981.64,
          "ctimeMs": 1578568381981.64,
          "date": "2020-01-10T17:14:30.383Z"
        },
        {
          "file": "img/backs/main-bg.png",
          "mtimeMs": 1578326785687.5408,
          "ctimeMs": 1578326785687.5408,
          "date": "2020-01-10T17:14:30.720Z"
        },
        {
          "file": "img/backs/revs-bg.png",
          "mtimeMs": 1578135414201.708,
          "ctimeMs": 1578135562222.3164,
          "date": "2020-01-10T17:14:31.404Z"
        },
        {
          "file": "img/images/anna.png",
          "mtimeMs": 1578318958994.5378,
          "ctimeMs": 1578318958994.5378,
          "date": "2020-01-10T17:14:37.218Z"
        },
        {
          "file": "img/images/for-img-2.png",
          "mtimeMs": 1578319147270.7085,
          "ctimeMs": 1578319147444.822,
          "date": "2020-01-10T17:14:39.450Z"
        },
        {
          "file": "img/images/for-img-3.png",
          "mtimeMs": 1578319030594.4888,
          "ctimeMs": 1578319030594.4888,
          "date": "2020-01-10T17:14:39.759Z"
        },
        {
          "file": "img/images/for-img-4.png",
          "mtimeMs": 1578319038115.3384,
          "ctimeMs": 1578319038142.356,
          "date": "2020-01-10T17:14:40.081Z"
        },
        {
          "file": "img/images/girls-main.png",
          "mtimeMs": 1578319068217.8796,
          "ctimeMs": 1578319068413.0088,
          "date": "2020-01-10T17:14:40.524Z"
        },
        {
          "file": "img/images/veronika.png",
          "mtimeMs": 1578319088601.9995,
          "ctimeMs": 1578319088601.9995,
          "date": "2020-01-10T17:14:41.321Z"
        },
        {
          "file": "img/backs/decor-bg.png",
          "mtimeMs": 1578569598591.1863,
          "ctimeMs": 1578569598591.1863,
          "date": "2020-01-10T17:14:28.240Z"
        },
        {
          "file": "img/icons/envelope.png",
          "mtimeMs": 1578302581268.2512,
          "ctimeMs": 1578302581268.2512,
          "date": "2020-01-10T17:14:35.521Z"
        },
        {
          "file": "img/icons/phone.png",
          "mtimeMs": 1578302586336.7393,
          "ctimeMs": 1578302586543.0454,
          "date": "2020-01-10T17:14:36.157Z"
        },
        {
          "file": "img/icons/skype.png",
          "mtimeMs": 1578302591693.2756,
          "ctimeMs": 1578302591708.286,
          "date": "2020-01-10T17:14:36.796Z"
        },
        {
          "file": "img/images/reasons-img.png",
          "mtimeMs": 1578319073231.1794,
          "ctimeMs": 1578319073231.1794,
          "date": "2020-01-10T17:14:40.910Z"
        },
        {
          "file": "img/flags.png",
          "mtimeMs": 1578323782889.2456,
          "ctimeMs": 1578323783046.7058,
          "date": "2020-01-10T17:14:26.285Z"
        },
        {
          "file": "img/flags@2x.png",
          "mtimeMs": 1578323788520.2798,
          "ctimeMs": 1578323788614.3718,
          "date": "2020-01-10T17:14:26.746Z"
        },
        {
          "file": "img/certs/cert-1.jpg",
          "mtimeMs": 1546507736132.508,
          "ctimeMs": 1578574687587.23,
          "date": "2020-01-10T17:14:31.920Z"
        },
        {
          "file": "img/certs/cert-2.jpg",
          "mtimeMs": 1546507735695.5923,
          "ctimeMs": 1578574689093.3416,
          "date": "2020-01-10T17:14:32.755Z"
        },
        {
          "file": "img/certs/cert-3.jpg",
          "mtimeMs": 1546507733221.9192,
          "ctimeMs": 1578574689666.7214,
          "date": "2020-01-10T17:14:33.741Z"
        },
        {
          "file": "img/certs/cert-4.jpg",
          "mtimeMs": 1546507735918.0476,
          "ctimeMs": 1578574689832.831,
          "date": "2020-01-10T17:14:34.694Z"
        },
        {
          "file": "img/images/day-1.png",
          "mtimeMs": 1578570086668.3804,
          "ctimeMs": 1578570086668.3804,
          "date": "2020-01-10T17:14:37.795Z"
        },
        {
          "file": "img/images/day-2.png",
          "mtimeMs": 1578570049993.3623,
          "ctimeMs": 1578570049993.3623,
          "date": "2020-01-10T17:14:38.341Z"
        },
        {
          "file": "img/images/day-3.png",
          "mtimeMs": 1578570071420.428,
          "ctimeMs": 1578570071420.428,
          "date": "2020-01-10T17:14:38.822Z"
        },
        {
          "file": "img/revs/rev-1.jpg",
          "mtimeMs": 1546507734377.939,
          "ctimeMs": 1578320839504.5652,
          "date": "2020-01-10T17:14:41.698Z"
        },
        {
          "file": "img/revs/rev-2.jpg",
          "mtimeMs": 1546507736580.5684,
          "ctimeMs": 1578320841647.1743,
          "date": "2020-01-10T17:14:42.084Z"
        },
        {
          "file": "img/revs/rev-3.jpg",
          "mtimeMs": 1546507733237.9321,
          "ctimeMs": 1578320843403.3833,
          "date": "2020-01-10T17:14:42.500Z"
        },
        {
          "file": "img/revs/video-1.jpg",
          "mtimeMs": 1549532254000,
          "ctimeMs": 1578320847984.3066,
          "date": "2020-01-10T17:14:42.895Z"
        },
        {
          "file": "img/revs/video-2.jpg",
          "mtimeMs": 1549532254000,
          "ctimeMs": 1578320850015.9602,
          "date": "2020-01-10T17:14:43.300Z"
        },
        {
          "file": "img/revs/video-4.jpg",
          "mtimeMs": 1549532258000,
          "ctimeMs": 1578320852203.6873,
          "date": "2020-01-10T17:14:43.755Z"
        },
        {
          "file": "img/revs/video-5.jpg",
          "mtimeMs": 1549532258000,
          "ctimeMs": 1578320854563.8457,
          "date": "2020-01-10T17:14:44.153Z"
        },
        {
          "file": "img/revs/video-6.jpg",
          "mtimeMs": 1549532260000,
          "ctimeMs": 1578320856456.0227,
          "date": "2020-01-10T17:14:44.622Z"
        },
        {
          "file": "img/revs/video-7.jpg",
          "mtimeMs": 1549532262000,
          "ctimeMs": 1578320858755.424,
          "date": "2020-01-10T17:14:44.972Z"
        },
        {
          "file": "img/revs/video-8.jpg",
          "mtimeMs": 1549532262000,
          "ctimeMs": 1578320861287.1272,
          "date": "2020-01-10T17:14:45.370Z"
        },
        {
          "file": "img/banner.jpg",
          "mtimeMs": 1578321727357.3784,
          "ctimeMs": 1578321727357.3784,
          "date": "2020-01-10T17:14:25.895Z"
        },
        {
          "file": "img/backs/main-info-bg.png",
          "mtimeMs": 1578327886693.9941,
          "ctimeMs": 1578327886837.6743,
          "date": "2020-01-10T17:14:31.032Z"
        },
        {
          "file": "img/images/for-img-1.png",
          "mtimeMs": 1578319162262.1802,
          "ctimeMs": 1578568648871.3572,
          "date": "2020-01-10T17:14:39.120Z"
        },
        {
          "file": "img/backs/get-bg-1.png",
          "mtimeMs": 1578573282765.7302,
          "ctimeMs": 1578573282765.7302,
          "date": "2020-01-10T17:14:28.748Z"
        },
        {
          "file": "img/backs/get-bg-2.png",
          "mtimeMs": 1578573288091.1145,
          "ctimeMs": 1578573288244.225,
          "date": "2020-01-10T17:14:29.071Z"
        },
        {
          "file": "img/certs/cert-1.min.jpg",
          "mtimeMs": 1578574854317.6182,
          "ctimeMs": 1578574854317.6182,
          "date": "2020-01-10T17:14:32.364Z"
        },
        {
          "file": "img/certs/cert-2.min.jpg",
          "mtimeMs": 1578574859455.0999,
          "ctimeMs": 1578574859567.1733,
          "date": "2020-01-10T17:14:33.222Z"
        },
        {
          "file": "img/certs/cert-3.min.jpg",
          "mtimeMs": 1578574865161.6123,
          "ctimeMs": 1578574865161.6123,
          "date": "2020-01-10T17:14:34.174Z"
        },
        {
          "file": "img/certs/cert-4.min.jpg",
          "mtimeMs": 1578574870721.9724,
          "ctimeMs": 1578574870721.9724,
          "date": "2020-01-10T17:14:35.172Z"
        },
        {
          "file": "img/icons/next.png",
          "mtimeMs": 1578493623509.1797,
          "ctimeMs": 1578575706419.212,
          "date": "2020-01-10T17:14:35.832Z"
        },
        {
          "file": "img/icons/prev.png",
          "mtimeMs": 1578493628478.413,
          "ctimeMs": 1578575706417.2107,
          "date": "2020-01-10T17:14:36.474Z"
        },
        {
          "file": "css/ie.min.css",
          "mtimeMs": 1578741800778.8252,
          "ctimeMs": 1578741800778.8252,
          "date": "2020-01-11T11:23:25.717Z"
        },
        {
          "file": "img/backs/last-bg.png",
          "mtimeMs": 1578576812383.3884,
          "ctimeMs": 1578576812383.3884,
          "date": "2020-01-10T17:14:30.050Z"
        },
        {
          "file": "bonus/index.html",
          "mtimeMs": 1578741461349.2595,
          "ctimeMs": 1578741461349.2595,
          "date": "2020-01-11T11:18:05.612Z"
        },
        {
          "file": "home-task-1/index.html",
          "mtimeMs": 1578741466115.0376,
          "ctimeMs": 1578741466115.0376,
          "date": "2020-01-11T11:18:07.231Z"
        },
        {
          "file": "home-task-2/index.html",
          "mtimeMs": 1578741469619.1821,
          "ctimeMs": 1578741469619.1821,
          "date": "2020-01-11T11:18:07.538Z"
        },
        {
          "file": "home-task-3/index.html",
          "mtimeMs": 1578741473634.0425,
          "ctimeMs": 1578741473634.0425,
          "date": "2020-01-11T11:18:07.899Z"
        },
        {
          "file": "promo/index.html",
          "mtimeMs": 1578741281337.2983,
          "ctimeMs": 1578741281337.2983,
          "date": "2020-01-11T11:18:09.488Z"
        },
        {
          "file": "remind/index.html",
          "mtimeMs": 1578741422633.896,
          "ctimeMs": 1578741422633.896,
          "date": "2020-01-11T11:18:09.829Z"
        },
        {
          "file": "thanks/index.html",
          "mtimeMs": 1578741435076.6995,
          "ctimeMs": 1578741435076.6995,
          "date": "2020-01-11T11:18:10.203Z"
        },
        {
          "file": "css/bonus.min.css",
          "mtimeMs": 1578744407128.974,
          "ctimeMs": 1578744407128.974,
          "date": "2020-01-11T12:06:54.108Z"
        },
        {
          "file": "img/backs/authors-bg-1-original.png",
          "mtimeMs": 1578135352291.4082,
          "ctimeMs": 1578135562225.317,
          "date": "2020-01-11T09:12:34.212Z"
        },
        {
          "file": "img/icons/soc-buttons.png",
          "mtimeMs": 1578731280789.893,
          "ctimeMs": 1578731280805.504,
          "date": "2020-01-11T09:12:34.985Z"
        },
        {
          "file": "bots/index.html",
          "mtimeMs": 1578741446809.8877,
          "ctimeMs": 1578741446809.8877,
          "date": "2020-01-11T11:18:05.920Z"
        },
        {
          "file": "css/thanks.min.css",
          "mtimeMs": 1578744403039.1455,
          "ctimeMs": 1578744403039.1455,
          "date": "2020-01-11T12:06:54.497Z"
        },
        {
          "file": "img/icons/ok.png",
          "mtimeMs": 1575136380486.6216,
          "ctimeMs": 1575136380486.6216,
          "date": "2020-01-11T10:01:35.967Z"
        },
        {
          "file": "img/icons/tg.png",
          "mtimeMs": 1575136388342.6985,
          "ctimeMs": 1575136388342.6985,
          "date": "2020-01-11T10:01:36.318Z"
        },
        {
          "file": "img/icons/vk.png",
          "mtimeMs": 1575136393724.0266,
          "ctimeMs": 1575136393724.0266,
          "date": "2020-01-11T10:01:36.669Z"
        },
        {
          "file": "js/thanks.min.js",
          "mtimeMs": 1578741383238.33,
          "ctimeMs": 1578741383238.33,
          "date": "2020-01-11T11:18:09.137Z"
        },
        {
          "file": "css/bonus-ie.min.css",
          "mtimeMs": 1578741017631.571,
          "ctimeMs": 1578741017631.571,
          "date": "2020-01-11T11:18:06.210Z"
        },
        {
          "file": "css/thanks-ie.min.css",
          "mtimeMs": 1578741702381.5554,
          "ctimeMs": 1578741702381.5554,
          "date": "2020-01-11T11:22:15.256Z"
        },
        {
          "file": "js/bonus.min.js",
          "mtimeMs": 1578741384883.4233,
          "ctimeMs": 1578741384883.4233,
          "date": "2020-01-11T11:18:08.280Z"
        },
        {
          "file": "js/promo.min.js",
          "mtimeMs": 1578741275561.39,
          "ctimeMs": 1578741275561.39,
          "date": "2020-01-11T11:18:08.809Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "last 35 versions"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": false
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": true
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "html"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist"
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": [
      {
        "file": "_app/_js/bonus.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\bonus.min.js"
        }
      },
      {
        "file": "_app/_js/promo.js",
        "config": {
          "autoCompile": true,
          "customOutput": "js\\promo.min.js"
        }
      },
      {
        "file": "_app/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts.min.js"
        }
      },
      {
        "file": "_app/_js/thanks.js",
        "config": {
          "customOutput": "js\\thanks.min.js",
          "autoCompile": true
        }
      },
      {
        "file": "_app/bonus.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "bonus/index.html"
        }
      },
      {
        "file": "_app/bots.pug",
        "config": {
          "customOutput": "bots\\index.html"
        }
      },
      {
        "file": "_app/home-task-1.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-1/index.html"
        }
      },
      {
        "file": "_app/home-task-2.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-2/index.html"
        }
      },
      {
        "file": "_app/home-task-3.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-3/index.html"
        }
      },
      {
        "file": "_app/home-task-4.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "home-task-4/index.html"
        }
      },
      {
        "file": "_app/index.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "index.html"
        }
      },
      {
        "file": "_app/promo.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "promo/index.html"
        }
      },
      {
        "file": "_app/remind.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "remind/index.html"
        }
      },
      {
        "file": "_app/styl/bonus-ie.min.styl",
        "config": {
          "tasks": {
            "stylus": {
              "options": {
                "linenos": true
              }
            }
          },
          "customOutput": "css\\bonus-ie.min.css"
        }
      },
      {
        "file": "_app/styl/bonus.min.styl",
        "config": {
          "tasks": {
            "stylus": {
              "options": {
                "linenos": true
              }
            }
          },
          "customOutput": "css\\bonus.min.css"
        }
      },
      {
        "file": "_app/styl/ie.min.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/ie.min.css"
        }
      },
      {
        "file": "_app/styl/styles.min.styl",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "css/styles.min.css"
        }
      },
      {
        "file": "_app/styl/thanks-ie.min.styl",
        "config": {
          "tasks": {
            "stylus": {
              "options": {
                "linenos": true
              }
            }
          },
          "customOutput": "css\\thanks-ie.min.css"
        }
      },
      {
        "file": "_app/styl/thanks.min.styl",
        "config": {
          "tasks": {
            "stylus": {
              "options": {
                "linenos": true
              }
            }
          },
          "customOutput": "css\\thanks.min.css"
        }
      },
      {
        "file": "_app/thanks.pug",
        "config": {
          "autoCompile": true,
          "compileImported": false,
          "customOutput": "thanks/index.html"
        }
      },
      {
        "file": "img/backs/authors-bg-1.png",
        "config": {
          "originalSize": 94156,
          "optimized": true
        }
      },
      {
        "file": "js/_js/scripts.js",
        "config": {
          "autoCompile": true,
          "sourceMap": false,
          "compileImported": false,
          "customOutput": "js/scripts.min.js"
        }
      }
    ]
  }
}
