#for
	padding 60px 0
	background-image url('../img/backs/decor-bg.png')
	background-repeat no-repeat
	background-position: center
	background-size: cover
.for-text
	padding 0 0 0 110px
	margin 0 0 40px
	min-height 87px
	background-image url('../img/images/for-img-2.png')
	background-repeat no-repeat
	background-position: left top
	width 100%