.button.button-last
	line-height: 1.2
	padding 14px 10px
	max-width 380px
.modal-backdrop.in
	opacity .8
button.close
	border-radius: 5px
	background-color #fff
	font-size: 24px
	font-family: GB
	opacity 1
	padding 10px
	z-index 99
	float: none
	top 5px
	right 5px
	position: absolute
	line-height: 19px
.modal-dialog
	width 800px
.mail-modal-content
	background-color: #DEF5FB
.modal-wrapper
	position relative
	.lesson-list-8
		margin-bottom: 20px