.general-title
.button
.main-title
.main-info-text span
.lesson-list li span
.gets-title
.packet-head-title
.cost span
.prepayment-title
.timer-title
.record-title
button.close
.author-title
.certs-title span
footer h5
.last-title
	font-weight: bold
.main-title small
.packet-head-title small
	font-weight: normal
.lessons-center-block-title
.more-button
.author-title span
	font-style: italic
.carousel-inner .item img.text-rev-img
	height auto
.lessons-center-block:before
	top -180px
.lessons-center-block-title
	margin 310px 0 0