G = 'Georgia', serif
GB = 'GeorgiaBold', serif
GI = 'GeorgiaItalic', serif

@font-face {
	font-family: 'georgia';
	src: url('../fonts/georgia.eot');
	src: url('../fonts/georgia.eot') format('embedded-opentype'),
		 url('../fonts/georgia.woff2') format('woff2'),
		 url('../fonts/georgia.woff') format('woff'),
		 url('../fonts/georgia.ttf') format('truetype'),
		 url('../fonts/georgia.svg#georgia') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'georgiaBold';
	src: url('../fonts/georgiaBold.eot');
	src: url('../fonts/georgiaBold.eot') format('embedded-opentype'),
		 url('../fonts/georgiaBold.woff2') format('woff2'),
		 url('../fonts/georgiaBold.woff') format('woff'),
		 url('../fonts/georgiaBold.ttf') format('truetype'),
		 url('../fonts/georgiaBold.svg#georgiaBold') format('svg');
	font-display: fallback;
	font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: 'georgiaItalic';
	src: url('../fonts/georgiaItalic.eot');
	src: url('../fonts/georgiaItalic.eot') format('embedded-opentype'),
		 url('../fonts/georgiaItalic.woff2') format('woff2'),
		 url('../fonts/georgiaItalic.woff') format('woff'),
		 url('../fonts/georgiaItalic.ttf') format('truetype'),
		 url('../fonts/georgiaItalic.svg#georgiaItalic') format('svg');
	font-display: fallback;
	font-weight: normal;
	font-style: italic;
}

@import '../_css/bootstrap.min.css'
@import '../_css/jquery.fancybox.min.css'
@import '../_css/flipclock.min.css'

*
	margin 0
	padding 0
	outline none
body
	background-color #fff
	color: #0c2902
	font-size: 18px
	font-family: G
	line-height: 30px
a
	color: #fefefe
	&:focus
		outline: 0
	&:hover
		text-decoration none
h1,h2,h3,h4,h5,h6
	font-weight normal
	margin 0
button
	border none
section
header
footer
	width 100%
	display block
.video-wrapper
	margin 0 auto
	position relative
	width 100%
	&:before
		content ''
		height 0
		padding-top 56.25%
		display block
	&:after
		content: ''
		display block
		position: absolute
		top: 0
		left 0
		right 0
		width: 100%
		height 70px
	img,
	iframe
		position absolute
		width 100%
		height 100%
		display block
		background-color #000
		border-radius 0
		border: 0
		top 0
		left 0
		right 0
		bottom 0
		cursor pointer
.button
	display block
	margin 0 auto
	text-align: center
	font-family: GB
	font-size: 24px;
	color: rgb(12, 41, 2);
	border 1px solid rgb(27, 86, 6);
	border-radius: 10px;
	background-color: rgb(236, 167, 18);
	width: 100%
	max-width: 272px;
	height: 60px;
	line-height: 58px;
	text-decoration: none
	transition: all .2s ease
	position relative
	z-index 99
	&:focus
		text-decoration: none
		background-color: rgb(236, 167, 18);
		color: rgb(12, 41, 2);
	&:hover
		text-decoration: none
		background-color: rgb(12, 41, 2);
		color rgb(236, 167, 18);
		transform: translateY(-2px)
.general-title
	text-align: center
	font-size: 26px;
	font-family: GB
	color: rgb(27, 86, 6);
	line-height: 1.154;
	margin-bottom: 50px
	min-height 63px
	background-image url(../img/backs/gt-bg-1.png), url(../img/backs/gt-bg-2.png)
	background-repeat no-repeat
	background-position: center left, center right
	padding 18px 0

@import '0.header'
@import 'course/1.main'
@import 'course/2.for'
@import 'course/3.plan'
@import 'course/4.get'
@import 'course/5.prices'
@import 'main/7.authors'
@import 'main/8.revs'
@import 'course/6.records'
@import 'main/9.last'
@import 'bonus/3.footer'
@import 'course/8.modals'
@import 'course/9.medias'