.button
.general-title
.pre
.main-title
.main-info-text:first-of-type
.mail-section-title
.checking .check-label
.reasons-list li span
.day-title
.day-text span
.gets-title
.author-title
.certs-title
.last-title
.last-text span
.modal-title
button.close
	font-weight: bold
.checking .check-label
	font-weight: normal
.reasons-center-block-title
.author-title span
	font-style: italic
.reasons-center-block-title span
	font-style: normal
.carousel-inner .item img.text-rev-img
	height auto