.button
.main-title
.main-subtitle span
.checking .check-label
footer h5
button.close
.modal-title
	font-weight: bold
.checking .check-label a
	font-weight: normal
.checking .check-label::after
	left 3.5px
	top 3.2px