-var head_title = 'Вы зарегистрированы на мастер-класс по Дизайну Человека';
-var styles = '../css/thanks.min.css';
-var fav_ico = '../favicon.ico'
-var fav_png = '../favicon.png'

	
<!DOCTYPE html>
html(lang="ru")
	head
		include pug/head
		include pug/scripts/head_scripts
	body
		include pug/scripts/body_top_scripts
		include pug/0.header.pug
		section#main
			.container
				h1.main-title Вы зарегистрированы на мастер-класс по Дизайну Человека
				a.button.button-thanks(href='https://drive.google.com/drive/folders/1T3V6ngkiqa39fDQh7feD0Ja5C71GC7dV' target="_blank") Забрать тетради
				h2.main-subtitle Регистрируйтесь в удобный для вас мессенджер, чтобы оставаться на связи и не пропустить мастер-класс
					span +
					span Бонус: «Основные идеи Дизайна Человека за 5 минут или как начать эксперимент?»
				include pug/bots/bots.pug
		include pug/bonus/3.footer.pug
		script(src="../js/thanks.min.js")
		include pug/scripts/body_bottom_scripts