@media screen and (min-width 1920px)
	#main
		background-size: cover
@media screen and (min-width 2295px)
	.container
		width 1400px
	body
		font-size: 20px
	.for_list
		max-width 600px
	.last_container
		max-width 640px
	.spof_last_button
		margin-left: 0
	#footer #conditions, #footer p
		font-size: 16px
	.remind_main_title
		margin-top: 160px
@media screen and (max-width 1199px)
	#logo
		display block
		margin: 0 auto 5px
		float: none
	.contacts
		float: none
		text-align: center
	.contact
		margin 5px
	.main_subtitle
		margin-top: 0
	.main_text
		margin-top: 0
		margin-bottom: 10px
		&:last-child
			margin-bottom: 0
@media screen and (max-width 991px)
	.pre
		margin-top: 10px
	.main_subtitle
		margin-top: 20px
	#main
		padding-bottom: 40px
	.pre.ht_pre
		margin-bottom: 25px
	#for
	#plan
	#last
	#feedback
		padding 40px 0
	.main_title.ht_main_title
		margin-top: 10px
	.main_text
		margin 10px 0 0
@media screen and (max-width 767px)
	#plan
		.container
			background-image: none
	.for_list
		padding-left: 20px
	#vk
	.lessons
		margin-bottom: 25px
	.spof_plan_button
		margin-top: 30px
@media screen and (max-width 485px)
	#header
		padding 10 0
	#logo
		width 160px
	.contact
		font-size: 14px
		background-size 16px
		padding-left: 21px
		margin 0 5px
	.main_title
		font-size: 26px
		margin-bottom: 20px
	.main_subtitle
		font-size: 20px
		margin-top: 10px
	.spof_main_cost
		margin 10px 0 15px
	.general_title
		font-size: 24px
		margin-bottom: 30px
	.for_text
		font-size: 22px
		margin 20px 0
	.lessons
		padding 20px
	.spof_plan_button
		margin-top: 10px
	#last
		background-position: left center
	.last_container
		max-width 100%
		text-align: center
	.last_title
		font-size: 30px
		margin-bottom: 30px
	#footer h5
		font-size: 16px
	.soc_buttons a
		margin 10px 5px 15px
	#footer #conditions, #footer p
		font-size: 12px
	.remind_main_title
		margin-top: 20px
@media screen and (max-width 380px)
	.pre
		margin-top: 0
		span
			font-size: 20px
			margin-bottom: 10px
	.main_title
		font-size: 24px
	#main
		padding-bottom: 30px
	#for
	#plan
	#last
	#feedback
		padding 30px 0
	.general_title
		font-size: 22px
		margin-bottom: 20px
	.for_text
		font-size: 20px
	.last_title
		font-size: 26px
		margin-bottom: 20px
	.spof_last_cost
		margin 15px 0 20px
	.main_title.ht_main_title
		margin: 0 0 5px
	.bonus_main_button
	.ht_main_button
		margin-top: 20px
	.pre.ht_pre
	.main_title.bonus_main_title
		margin-bottom: 15px
	.remind_main_title
		margin-top: 10px