section#main.bonus-main
	.container
		p.pre=head_description
		h1.main-title Основные идеи Дизайна Человека за 5 минут 
			br
			| или как начать эксперимент?
		.video-wrapper.video-wrapper-main
			iframe(src="https://www.youtube.com/embed/IzK7j2qV3d4?rel=0&autoplay=1&mute=1" allowfullscreen)
		p.main-info Старт онлайн-мастер-класса: 
			span с 29 января, в 19:00 (МСК)