#main
	padding 50px 0
	background-color: #DEF5FB
	background-image url(../img/backs/main-bg.png)
	background-repeat no-repeat
	background-position: center top
	background-size: cover
	overflow hidden
	.container
		position relative
.pre
	font-family: GB
.main-title
	font-size: 36px
	font-family: GB
	color #7DBE26
	margin 40px 0
	line-height: 48px
	text-transform: uppercase
	span
		text-transform: none
		display block
		font-size: 24px
.main-info
	background-image url(../img/backs/main-info-bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: 100% 100%
	padding 10px 30px
	text-align: center
	width 100%
	max-width 460px
	&-text
		line-height: 24px
		&:first-of-type
			font-family: GB
	&-desktop
		margin 0 0 5px auto
	&&-mobile
		display: none
.video-wrapper-main
	max-width 356px
	margin-left: 0
.main-img
	margin-bottom: -122px