.mail-modal-content
	background-color: #DEF5FB
.modal-wrapper
	position relative
.modal-title
	font-size: 24px
	font-family: GB
	text-align: center
	width 84%
	margin 0 auto 30px
.input-mail-modal
	width 280px