.politics-modal-content
	.modal-title
		text-align: left
		margin 0
	p
		margin-bottom: 10px
		&:last-of-type
			margin-bottom: 0
button.close
	border-radius: 5px
	background-color #fff
	font-size: 24px
	font-family: GB
	opacity 1
	padding 10px
	z-index 99
	float: none
	top 5px
	right 5px
	position: absolute
	line-height: 19px