@media screen and (min-width 2295px)
	body
		font-size: 20px
	.container
		width 1400px
	.main-info-desktop
		margin 0px 150px 5px auto
		max-width 530px
	.for-text
		max-width 100%
	.reasons-center-block:before
		left -75px
	.day-title:before
		width 2000px
	.day-title:before
		width 2000px
	.day-2-title:before
		width 1000px
		left -1040px
	#myPolitics .modal-dialog
		width 1200px
	.gets
		max-width 1020px
@media screen and (max-width 1199px)
	#main
		padding 50px 0 35px
	.reasons-center-block:before
		background-size: 440px
		top: -95px;
		left: -143px;
	.certs-title::before
		right: calc(100% - 300px);
	.certs-title:after
		left: calc(100% - 300px);
	.carousel-inner .item img.text-rev-img
		height 254px
	.carousel-control
		top auto
		bottom -20px
@media screen and (max-width 991px)
	header
		padding 15px 0
	#logo
		float: none
		display block
		width 90px
		height 40px
		margin 0 auto 3px
	.contacts
		text-align: center
		float: none
		line-height: 16px
	.main-title
		margin 10px 0 30px
		line-height: 1.3
	.reasons-center-block:before
		left -178px
	.gets
		padding 30px
	.cert-img
		height 120px
	.carousel-inner .item img.text-rev-img
		height 192px
@media screen and (max-width 767px)
	#main
		text-align: center
		padding 40px 0 30px
	.main-title
		margin-bottom: 20px
	.video-wrapper-main
		margin 0 auto 25px
	.main-info-desktop
		display: none
	.main-info.main-info-mobile
		display block
		margin 0 auto 25px
	.mail-section-title
		line-height 1.3
	.main-img
		display: none
	.input-mail
	.button-form
		float: none
		display block
		margin 0 auto
	.button-form
		margin-top: 10px
	.input
		width 100%
		max-width 272px
	.for-text
		margin 0 auto 30px
		max-width 540px
		text-align: center
		padding 110px 0 0
		background-position: top center
	#for
		padding 40px 0 10px
	.general-title
		padding 18px 70px
		background-size: 160px
		margin-bottom: 30px
	.reasons-list li
		max-width 540px
		margin 0 auto 30px
		text-align: center
	.reasons-list li:last-child
	.reasons-list-2 li:first-child
		margin-bottom: 20px
	.reasons-list-1 li:nth-child(2)
		width 100%
	.reasons-center-block
		display: none
	#reasons
		padding 40px 0 20px
	.general-title-reasons-mobile
		display block
	.day
		padding 0
		text-align: center
		margin-bottom: 30px
		&-2
			border-top: 3px dashed #006300
			border-bottom: 3px dashed #006300
			padding-top: 30px
	.day-img
		display: none
	.day-title:before
		content: none
	.day-text
		margin-bottom: 15px
	.author-title span
		margin 15px 0 20px
	.author-img
		margin-bottom: 20px
	.cert-img
		margin-bottom: 20px
		width 220px
	#authors
		padding 40px 0 20px
	#plan
	#get
		padding 40px 0
	#revs
		padding 40px 0 60px
	#video-revs
		margin-top: 60px
	#last
		padding 50px 0
	.last-text
		margin 30px 0
	.gets-title
		padding 10px 40px
@media screen and (max-width 560px)
	.gets-title
		font-size: 22px
		width: 100%
		max-width 450px
		position: static
		margin-bottom: 20px
		background-color: transparent
		background-image: none
		padding 0
@media screen and (max-width 485px)
	body
		line-height: 1.3
	#logo
		width 70px
		height 31px
	.contact
		font-size: 12px
		line-height: 14px
		background-size 14px
		padding-left: 18px
		margin 0 5px
	.contact.contact-email
		padding-left: 20px
	#main
		padding 30px 0
	.main-title
		font-size: 28px
		span
			font-size: 22px
	.mail-section-title
		font-size: 20px
		margin-bottom: 20px
	#mail-section
		padding 20px 0
	.modal-title
		font-size: 20px
		line-height: 1.2
	#for
		padding 30px 0 0
	.general-title
		font-size: 24px
	.for-text
		padding 95px 0 0
	#reasons
		padding 30px 0 10px
	#get, #plan, #revs
		padding 30px 0
	.day-title
		font-size: 22px
		margin-bottom: 20px
	.button
		font-size: 20px
		height 55px
		line-height: 53px
	.modal-title
		margin-bottom: 20px
	.author-title
		font-size: 22px
		span
			margin 0 0 20px
	.author
		margin-bottom: 30px
	.certs-title
		margin-bottom: 30px
		span
			font-size: 22px
			padding 3px 10px
			width 100%
			max-width 300px
	.cert-img
		width 160px
	#authors
		padding 30px 0 10px
	.carousel-control
		bottom: -25px
	#revs
		padding 30px 0 60px
	#last
		padding 30px 0
	.last-title
		font-size: 28px
	.last-text
		font-size: 22px
	footer
		padding 15px 0
		font-size: 12px
	.gets
		padding 20px
	.gets-list li:before
		top 10px
@media screen and (max-width 385px)
	body
		font-size: 18px
	.main-title
		font-size: 26px
		span
			font-size: 20px
	.main-info
		background-image: none
		padding 0
	.main-info-text:first-of-type
		margin-bottom: 10px
	.mail-section-title
		font-size: 18px
	.general-title
		font-size: 22px
		background-image: none
		padding 0
		margin-bottom: 25px
		min-height 1px
	.reasons-list li
		margin-bottom: 15px
	#reasons
		padding 30px 0 15px
	.modal-title
		font-size: 18px
		width 76%
	.gets
		padding 15px
	.gets-title
		font-size: 20px
	.author-title
		font-size: 18px
		span
			font-size: 16px
	.cert-img
		height 100px
		width 100px
	.certs-title
		margin-bottom: 20px
		span
			font-size: 20px
	.carousel-inner .item img.text-rev-img
		height 90px
	.last-title
		font-size: 24px
	.last-text
		margin 20px 0 30px
		span
			margin-top: 10px