#mail-section
	padding 35px 0 20px
	background-color: #C2DFD7
	background-image url(../img/backs/mail-bg.jpg)
	background-repeat: no-repeat
	background-position: center
	background-size: cover
.mail-section-title
	text-align: center
	font-size: 22px;
	font-family:  GB
	color: rgb(12, 41, 2);
	line-height: 2.182;
	margin 0 0 30px
.form-main
	width 100%
	max-width 560px
	margin 0 auto
.input
	display block
	border 1px solid rgb(27, 86, 6);
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	width: 224px;
	height: 50px;
	color: rgb(142, 142, 142);
	padding 15px 10px
	text-align: center
	&-mail
		float left
.button-form
	float: right
	height 50px
	line-height: 48px
@-webkit-keyframes autofill
	to
		font-size: 18px
		color: rgb(142, 142, 142);
		background-color: rgb(255, 255, 255);
input:-webkit-autofill
	-webkit-animation-name: autofill;
	-webkit-animation-fill-mode: both;
.alert-message {
	display: none;
	text-align: center;
	font-size: 16px;
	padding-top: 0
	color: #f00
}
.checking {
	display: table;
	width 100%
	max-width 490px
	margin: 10px auto 0;
	text-align: left
}

.checking .check-label {
	font-family: GB
	color: #0c2902
	line-height: 14px;
	cursor: pointer;
	position: relative;
	display: table-cell;
	vertical-align: middle;
	padding: 0 0 0 25px;
	text-align: left;
	font-size: 14px
}

.checking .check-label a {
	font-family: G
	color: #0c2902
}
.checking .check-label a:focus
	text-decoration: none
.checking .check-label a:hover
	text-decoration: underline
.checking .check-label:before {
	content: '';
	background-color: transparent
	position: absolute;
	left: 0;
	top: 0;
	width: 14px;
	height: 14px;
	border none
	border-radius: 50px
	border: 1px solid #1b5606
}

.checking .check-label:after {
	content: '';
	position: absolute;
	left: 3px;
	top: 3px;
	width: 8px;
	height: 8px;
	background-color: #1b5606
	border-radius: 50px
	opacity: 0;
	transform: rotate(41deg);
	transition: all 0.5s ease;
}

.check {
	position: absolute;
	z-index: -1;
	opacity: 0;
	width: 0;
	height 0;
	border: 0;
	left -99999px;
}

// .check:checked + .check-label:before {
// 	background-color: #F0F000

// }

.check:checked + .check-label:after {
	opacity: 1;
	// top: 4px;
	// -webkit-transition: all 0.5s ease;
	// -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}