#get
	@extend #reasons
	background-color: #DEF5FB
	background-image url(../img/backs/get-bg-1.png), url(../img/backs/get-bg-2.png)
	background-repeat no-repeat, no-repeat
	background-position: center left, center right
.gets
	border: 2px solid #266E26
	border-radius: 10px
	padding 70px 140px
	background-color: #DFFEFF
	position relative
	width 100%
	max-width 950px
	margin 0 auto
	&-title
		position: absolute
		display: inline-block
		font-size: 24px
		font-family: GB
		top -30px
		left 0
		right 0
		margin 0 auto
		padding 10px 50px
		background-color: #DEF5FB
		background-image linear-gradient(to bottom, #def5fb 50%, rgba(223, 254, 255, .8) 100%)
		width 496px
		border-radius: 100px
		text-align: center
	&-list
		li
			margin-bottom: 5px
			padding-left: 12px
			position relative
			list-style: none
			&:before
				content: ''
				display block
				position: absolute
				top 14px
				left 0
				border-radius: 50px
				width 5px
				height 5px
				background-color: #002400