#last
	padding 70px 0
	background-image url(../img/backs/last-bg.png)
	background-repeat no-repeat
	background-position: center
	background-size: cover
	text-align: center
.last-title
	font-size: 36px
	font-family: GB
.last-text
	margin 50px 0
	font-size: 24px
	span
		display block
		font-family: GB
		margin-top: 20px