section#main
	.container
		.row
			.col-md-6.col-sm-6
				p.pre Бесплатный 3-х дневный онлайн-мастер-класс
				h1.main-title Дизайн человека:
				h2.main-subtitle Получите ключи к своей уникальности
				.main-info.main-info-modile
					p.main-info-text Даты: с 29 по 31 января 19:00 мск
					p.main-info-text Авторы курса: Анна Ролева, Вероника Юрина
				.video-wraper.video-wrapper-main
					iframe(src="https://www.youtube.com/embed/?autoplay=1&mute=1" alowfullscreen)
			.col-md-6.col-sm-6
				.main-info.main-info-desktop
					p.main-info-text Даты: с 29 по 31 января 19:00 мск
					p.main-info-text Авторы курса: Анна Ролева, Вероника Юрина
				img(src="img/images/girls-main.png", alt="Анна Ролева и Вероника Юрина").main-img