section#for
	.container
		+gt('','Для кого этот мастер-класс?')
		.row
			.col-md-6.col-sm-6
				p.for-text.for-text-1 Для тех, кто чувствует, что живёт не своей жизнью
				p.for-text.for-text-2 Для людей, которые пытаются найти себя, но не знают, как это сделать
			.col-md-6.col-sm-6
				p.for-text.for-text-3 Для тех, кто «потерялся» по жизни и не понимает, кто он и куда ему стремиться
				p.for-text.for-text-4 Для тех, кто устал играть роли и носить маски