section#reasons
	.container
		+gt('general-title-reasons-mobile','5 причин прийти на мастер-класс')
		.row
			.col-md-4.col-sm-4
				ul.reasons-list.reasons-list-1
					li 
						span Вы познакомитесь 
						| с легендарной системой самопознания, берущей начало в 80-х годах
					li
						span Чтобы 
						| совершить прорыв в личностном развитии
					li
						span Анна Ролева и Вероника Юрина 
						| помогут изменить Ваше пространство в режиме реального времени
			.col-md-4.col-sm-4
				.reasons-center-block
					h3.reasons-center-block-title
						span 5
						| причин прийти 
						br
						| на мастер-класс
			.col-md-4.col-sm-4
				ul.reasons-list.reasons-list-2
					li
						span Чтобы найти 
						| своё истинное предназначение и идти по жизни в гармонии со своей природой
					li
						span Чтобы получить 
						| мощный мотивационный импульс для решения личных, любовных и финансовых проблем