section#plan
	.container
		+gt('','План онлайн мастер-класса')
		.day.day-1
			img(src="img/images/day-1.png", alt="День №1:").day-img.day-img-1
			h4.day-title.day-1-title День №1:
			p.day-text Какой потенциал вы имеете от рождения, узнав эту информацию, вы научитесь возвращать себе жизненные силы.
			p.day-text
				span Бонус: 
				| Техника «Импульс тела». Это техника позволит всем участникам ощутить практическую пользу от Дизайна Человека. Вы поймете главный принцип этой системы — выбирать телом, а не умом. После освоения этой техники, у вас не останется сложных выборов
		.day.day-2
			img(src="img/images/day-2.png", alt="День №2:").day-img.day-img-2
			h4.day-title.day-2-title День №2:
			p.day-text Какие сильные качества зашифрованы в вашей карте, какие уязвимые места есть в ней, каков ваш денежный потенциал, какой потенциал в отношениях?
			p.day-text После 2-го дня вы точно будете знать, на что вы способны.
			p.day-text
				span Бонус: 
				| Техника «БИОС». С помощью этой техники вы сможете прокачать те энергии и способности, которые есть у вас от природы, но по тем или иным причинам, вы потеряли соединенность с ними. Эта техника позволит вернуть утраченный природный потенциал.
		.day.day-3
			img(src="img/images/day-3.png", alt="День №3:").day-img.day-img-3
			h4.day-title.day-3-title День №3:
			p.day-text Хотели бы вы заниматься только любимыми делами и еще зарабатывать на них? Почему не у всех это получается? Вы узнаете об Ахиллесовой пяте вашего Дизайна, о той причине, по которой блокируется весь ваш потенциал.
			p.day-text
				span Бонус: 
				| Медитация «Любящее Сердце» — незабываемая трансперсональная медитация, которая соединит Вас с Вашим внутренним ресурсом любви и изобилия, позволит пережить опыт близости и нежности, исцеляющий сердце и открывающий его для новых граней любви.
		+b('','Участвовать')