section#get
	.container
		.gets
			h4.gets-title На мастер-классе Вы сможете:
			ul.gets-list
				li Узнать все объективные особенности своей личности
				li Выявить свои сильные и слабые стороны
				li Научиться жить так, чтобы не было обидно за бесцельно прожитые годы
				li Понять, какое занятие будет приносить настоящее удовольствие
				li Лучше узнать и понять своих близких
				li Перестать бороться с собой и убрать из жизни лишние дела и обязанности
				li Понять, как начать зарабатывать на своём любимом деле