section#authors
	.container
		+gt('','О тренерах')
		.row
			.col-md-6.col-sm-6
				.author
					h4.author-title Анна Ролева
						span Проектор 3/5, Крест 4х путей
					img.author-img(src="img/images/anna.png", alt="Анна Ролева")
					ul.author-list
						li — Автор и ведущая тренигов по предназначению
						li — Сертифицированный регрессолог (погруже- ние в прошлые жизни)
						li — Проводит индивидуальные консультации и обучение по Механике Человека
						li — Лидер и создатель проекта «Cosmos»
			.col-md-6.col-sm-6
				.author
					h4.author-title Вероника Юрина
						span Проектор 3/5, Крест Чаша Любви
					img.author-img(src="img/images/veronika.png", alt="Вероника Юрина")
					ul.author-list
						li — Профессиональный тренер и преподаватель
						li — Дипломированный психолог
						li — Опыт работы с людьми и консультирования — 10 лет
						li — Обучала такие компании как Rambler, HH, ТрансНефтьЭнерго, Krutoy Media, Hearst Shkulev Media, ПГК, Бин-Банк, Mail Group и многие другие
	h4.certs-title
		span Наши сертификаты:
	.container
		.certs
			.row
				.col-md-3.col-sm-3.col-xs-6
					a.cert-link(href="img/certs/cert-1.jpg", data-fancybox="certs")
						img.cert-img(src="img/certs/cert-1.jpg", alt="Сертификат 1")
				.col-md-3.col-sm-3.col-xs-6
					a.cert-link(href="img/certs/cert-2.jpg", data-fancybox="certs")
						img.cert-img(src="img/certs/cert-2.jpg", alt="Сертификат 2")
				.col-md-3.col-sm-3.col-xs-6
					a.cert-link(href="img/certs/cert-3.jpg", data-fancybox="certs")
						img.cert-img(src="img/certs/cert-3.jpg", alt="Сертификат 3")
				.col-md-3.col-sm-3.col-xs-6
					a.cert-link(href="img/certs/cert-4.jpg", data-fancybox="certs")
						img.cert-img(src="img/certs/cert-4.jpg", alt="Сертификат 4")