section#main
	.container
		p.pre записи мастер-класса внизу страницы
		h1.main-title
			small обучающий курс
			=head_title
		.main-info
			p.main-info-text
				span Старт курса: NN февраля 19:00 мск
			p.main-info-text
				span Авторы курса: Анна Ролева, Вероника Юрина
		+b('','#prices','Записаться')