.modal.fade(tabindex="-1" role="dialog")#modal-1
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") X
				.modal-body
					.row
						.col-md-6.col-sm-6
							ul.lesson-list.modal-list
								li 
									span Занятие 1
								li Знакомство
								li Основные метафоры ДЧ
								li Транзиты и глобальные Циклы
								li 4 типа
							ul.lesson-list.lesson-list-2
								li 
									span Занятие 2
								li Правый и левый ум
								li Центры
							ul.lesson-list.lesson-list-3
								li 
									span Занятие 3
								li Авторитеты
								li Виды определенности
							ul.lesson-list.lesson-list-4
								li 
									span Занятие 4
								li Линии и профили
								li Травмы и реакции
						.col-md-6.col-sm-6
							ul.lesson-list.lesson-list-5
								li 
									span Занятие 5
								li Черное и красное
								li Контуры
								li Ворота и каналы - вступление
							ul.lesson-list.lesson-list-6
								li
									span Занятие 6
								li Ворота и каналы - продолжение
							ul.lesson-list.lesson-list-7
								li
									span Занятие 7
								li Ворота и каналы - продолжение
							ul.lesson-list.lesson-list-8
								li
									span Занятие 8
								li Ворота и каналы - заключение
								li Значение планет
.modal.fade(tabindex="-1" role="dialog")#modal-2
	.modal-dialog(role="document")
		.modal-content.mail-modal-content
			.modal-wrapper
				button(type="button" class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") X
				.modal-body
					.row
						.col-md-6.col-sm-6
							ul.lesson-list.modal-list
								li 
									span Занятие 1
								li Знакомство
								li Основные метафоры ДЧ
								li Транзиты и глобальные Циклы
								li 4 типа
							ul.lesson-list.lesson-list-2
								li 
									span Занятие 2
								li Правый и левый ум
								li Центры
							ul.lesson-list.lesson-list-3
								li 
									span Занятие 3
								li Авторитеты
								li Виды определенности
							ul.lesson-list.lesson-list-4
								li 
									span Занятие 4
								li Линии и профили
								li Травмы и реакции
							ul.lesson-list.lesson-list-5
								li 
									span Занятие 5
								li Черное и красное
								li Контуры
								li Ворота и каналы - вступление
						.col-md-6.col-sm-6
							ul.lesson-list.lesson-list-6
								li
									span Занятие 6
								li Ворота и каналы - продолжение
							ul.lesson-list.lesson-list-7
								li
									span Занятие 7
								li Ворота и каналы - продолжение
							ul.lesson-list.lesson-list-8
								li
									span Занятие 8
								li Ворота и каналы - заключение
								li Значение планет
							ul.lesson-list.lesson-list-9
								li
									span Занятие 9
								li PHS (питание, мотивация и пр.)
							ul.lesson-list.lesson-list-10
								li
									span Занятие 10
								li Дримрейв (сон)
								li Кресты
								li Лунные узлы