section#for
	.container
		+gt('','Этот курс необходим Вам, если:')
		.row
			.col-md-6.col-sm-6
				p.for-text.for-text-1 Хотите понять себя и узнать как вам корректно двигаться по жизни
				p.for-text.for-text-2 Вам важно разобраться в отношениях с близкими людьми и понять их
			.col-md-6.col-sm-6
				p.for-text.for-text-3 Хотите получить практический инструмент для работы с людьми
				p.for-text.for-text-4 Хотите быстро и по доступной цене систематизировать свои знания ДЧ, получить полную картину и научиться анализировать карты - этот курс отлично вам подходит!