section#plan
	.container
		+gt('general-title-plan','План курса:')
		.row
			.col-md-4.col-sm-4
				ul.reasons-list.reasons-list-1
					li 
						span Занятие 1
					li Знакомство
					li Основные метафоры ДЧ
					li Транзиты и глобальные Циклы
					li 4 типа
				ul.reasons-list.reasons-list-2
					li 
						span Занятие 2
					li Правый и левый ум
					li Центры
				ul.reasons-list.reasons-list-3
					li 
						span Занятие 3
					li Авторитеты
					li Виды определенности
				ul.reasons-list.reasons-list-4
					li 
						span Занятие 4
					li Линии и профили
					li Травмы и реакции
				ul.reasons-list.reasons-list-5
					li 
						span Занятие 5
					li Черное и красное
					li Контуры
					li Ворота и каналы - вступление
			.col-md-4.col-sm-4
				.reasons-center-block
					h3.reasons-center-block-title План курса:
			.col-md-4.col-sm-4
				ul.reasons-list.reasons-list-6
					li
						span Занятие 6
					li Ворота и каналы - продолжение
				ul.reasons-list.reasons-list-7
					li
						span Занятие 7
					li Ворота и каналы - продолжение
				ul.reasons-list.reasons-list-8
					li
						span Занятие 8
					li Ворота и каналы - заключение
					li Значение планет
				ul.reasons-list.reasons-list-9
					li
						span Занятие 9
					li PHS (питание, мотивация и пр.)
				ul.reasons-list.reasons-list-10
					li
						span Занятие 10
					li Дримрейв (сон)
					li Кресты
					li Лунные узлы
		+b('','#prices','Записаться')