section#get
	.container
		.gets
			h4.gets-title Что вы получите на курсе
			ul.gets-list
				li Вы не просто получите 
					span полные системные знания 
					| Механики человека (ДЧ), но и мощный трансформационный импульс к проживанию своей 
					span уникальной природы! Поймете 
					| себя и своих близких
				li Все темы курса мы будем разбирать на примерах карт участников. Вы 
					span поймете тонкости взаимоотношений 
					| между всеми аспектами карты
				li Если вы уже работаете с людьми (вы психолог, астролог, коуч), вы 
					span уникальной природы! Поймете 
					| сможете существенно расширить свой арсенал инструментов
				li 
					span Научитесь видеть и анализировать 
					| все сложные и спорные темы каждой карты, видеть полную картину и передавать мутационный импульс вашим клиентам. 
					span Начнете практиковать чтение карт