section#records
	.container
		h3.general-title Записи мастер-класса
		.row
			.col-md-6.col-sm-6
				.record
					h4.record-title Запись мастер-класса от 29.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowfullscreen)
					p.record-text Занятие состоится 29.01.20, в 19:00мск
					p.record-text Запись занятия появтся здесь 30.01.20, после 13:00мск
			.col-md-6.col-sm-6
				.record
					h4.record-title.record-title-1 Запись мастер-класса от 30.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowfullscreen)
					p.record-text Занятие состоится 30.01.20, в 19:00мск
					p.record-text Запись занятия появтся здесь 31.01.20, после 13:00мск
		.row
			.col-md-6.col-sm-6.col-md-offset-3.col-sm-offset-3
				.record
					h4.record-title.record-title-2 Запись мастер-класса от 31.01.20
					.video-wrapper.video-wrapper-rec
						iframe(src="https://player.vimeo.com/video/" allowfullscreen)
					p.record-text Занятие состоится 31.01.20, в 19:00мск
					p.record-text Запись занятия появтся здесь 01.02.20, после 13:00мск
		p.records-text Записи занятий будут в свободном доступе до 05.02.20
		h3.general-title Записей мастер-класса более нет в свободном доступе
		p.records-text Но Вы можете приобрести их полные версии всего за 590р. и радоваться жизни вместе с теми, кто их уже смотрел
		+b('button-records-sale ','#!','Купить записи', '_blank')